---
title: MASK THE F UP!
---
<!DOCTYPE html>
<html lang="en-US"><head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164526432-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164526432-3');
</script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>MASK THE F UP! Research, memes and videos about masks and COVID19.</title>
<meta name="description" content="A friendly reminder from your neighbors to wear a mask! Latest research, memes, and videos on mask wearing and the coronavirus." />

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="MASK THE F UP! Research, memes, and videos about masks and COVID19.">
<meta itemprop="description" content="A friendly reminder from your neighbors to wear a mask! Latest research, memes, and videos on mask wearing and the coronavirus">
<meta itemprop="image" content="https://maskthefup.com/social.jpg">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@SupplyHawk">
<meta name="twitter:title" content="MASK THE F UP!">
<meta name="twitter:description" content="A friendly reminder from your neighbors to wear a mask! Latest research, memes, and videos on mask wearing and the coronavirus">
<meta name="twitter:creator" content="@SupplyHawk">
<!-- Twitter summary card with large image must be at least 280x150px -->
<meta name="twitter:image:src" content="https://maskthefup.com/social.jpg">

<!-- Open Graph data -->
<meta property="og:title" content="MASK THE F UP!" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://maskthefup.com/" />
<meta property="og:image" content="https://maskthefup.com/social.jpg" />
<meta property="og:description" content="A friendly reminder from your neighbors to wear a mask! Latest research, memes, and videos on mask wearing and the coronavirus" />
<meta property="og:site_name" content="MASK THE F UP!" />


<meta property="article:published_time" content="2020-07-07T00:00:00" />
<meta property="article:modified_time" content="{{ 'now' | date: '%Y-%m-%dT%H:%M:%S' }}" />
<meta property="article:section" content="Healthcare" />
<meta property="article:tag" content="coronavirus" />
<meta property="article:tag" content="covid19" />
<meta property="article:tag" content="humor" />
<meta property="article:tag" content="comedy" />
<meta property="article:tag" content="mask" />
<meta property="fb:admins" content="100719371654354" />

<link rel="stylesheet" href="/css/site.css">
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Oswald:wght@400;700&display=swap" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<style>
    .fb-share-button {
        top: -8px !important;
    }
    header#masthead {
        position: fixed !important;
    }
</style>
</head>
<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="akGQsQIG"></script>
<!-- Page Wrapper
    ======================================= -->
<div id="page" class="site">
    <!-- Site Header
        ======================================= -->

        <header id="masthead" class="site-header">
            <div class="container header-container">
                <!-- LOGO -->
                <div class="site-branding"><a href="/" rel="home">MASK THE F*%$ UP!</a></div>
                <!-- MAIN NAVIGATION
                        ======================================= -->
                <nav id="site-navigation" class="main-navigation">
                <ul id="primary-menu" class="menu alt-font">
                    <li>
                        <a href="#videos" class="on-page"><span data-background-text="videos">Videos</span></a>
                    </li>
                    <li>
                        <a href="#myths" class="on-page"><span data-background-text="myths">Myths</span></a>
                    </li>
                    <li>
                        <a href="#memes" class="on-page"><span data-background-text="memes">Memes</span></a>
                    </li>
                    <li>
                        <a href="#research" class="on-page"><span data-background-text="papers">Research</span></a>
                    </li>
                    <li>
                        <a href="#which-mask" class="on-page"><span data-background-text="medical!">Which Masks?</span></a>
                    </li>
                </ul>
                </nav>
                <!-- mobile navigation -->
                <nav id="mobile-navigation" class="alt-font">
                </nav>
            </div>
            <!-- header-container -->
        </header>
    <!-- On Page Content
        ======================================= -->
    <div id="content" class="site-content">
        <div class="site-page">
            <!-- Fullscreen Hero
                ======================================= -->
            <div class="image-bg d-flex" style="height:70vh">
                <!-- hero caption -->
                <div class="container align-self-center dark-bg">
                    <div class="section-title text-center">
                        <!-- <h3 class="title uppercase primary-outline display-3 aos-init aos-animate" data-aos="fade-down" data-aos-delay="100">Build your beautiful website today</h3> -->
                        <h2 class="title uppercase font-weight-700 text-lg aos-init aos-animate marker" data-aos="fade-in">MASK THE F%*$ UP!</h2>
                        <p data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate script" style="font-size: 2.5em;">
                            a friendly reminder from your neighbors and <a href="https://supplyhawk.org">supplyhawk.org</a><br />
                            <span id="social-header" class="hide"></span>
                            <div class="fb-share-button" data-href="https://maskthefup.com" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmaskthefup.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                            
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                        </span>
                        </p>
                    </div>
                </div>
                <!-- background image -->
                <div class="bg-image animate-filters" style="background-image:url(/images/backgrounds/mask3.jpg)">
                </div>
                <!-- color overlay -->
                <div class="image-overlay gradient-overlay-tb">
                </div>
            </div>
            <!-- Container Content
                ======================================= -->
            <!-- BEGIN PAGE SECTIONS -->
            <div id="videos" class="page-section black-bg dark-bg p-medium">
                <div class="container">
                    <!-- section title -->
                    <div class="section-title">
                        <h5 class="sub-title uppercase dark-fill primary-el-bg aos-init" data-aos="fade-right">WATCH NOW</h5>
                        <h2 class="title uppercase font-weight-700 aos-init" data-aos="fade-in">TOP VIDEOS</h2>
                        <p>
                            Videos from antimaskers, debunkers, physicians and the news about why you should <a href="https://twitter.com/hashtag/MASKUP" target="_blank">#MaskUp</a>
                        </p>
                    </div>
                    <div class="lg-clear-10">
                    </div>
                    <div class="xs-clear-10 xl-clear-25">
                    </div>
                    <!-- portfolio items -->
                    <ul id="portfolio-filters" class="portfolio-filters alt-font uppercase">
                        <li><a href="#" data-filter="*" class="selected"><span>Show All</span><span class="filter-bg"></span></a></li>
                        <li><a href="#" data-filter=".antimaskers" class=""><span>Antimaskers</span><span class="filter-bg"></span></a></li>
                        <li><a href="#" data-filter=".debunking" class=""><span>Debunking</span><span class="filter-bg"></span></a></li>
                        <li><a href="#" data-filter=".experts" class=""><span>Experts</span><span class="filter-bg"></span></a></li>
                    </ul>
                    <div id="portfolio-grid" class="portfolio-grid aos-init" data-aos="fade-in">
                        <ul class="gt-grid xs-grid-cols-1 md-grid-cols-3 lg-grid-cols-4 mb-0">
                            <!-- post 1 -->
                            <!-- add data-filters as classes for isotope filtering -->

                            {% for video in site.data.videos %}
                            <li class="project-post {{video.category}}">
                            <div class="post-image">
                                <a href="//www.youtube.com/watch?v={{video.youtube_id}}" title="Watch YouTube Video" data-lity>

                                {% if video.image_id == nil or video.image_id == "" %}
                                    <div class="post-image-image lazy-image" style="background-image:url(http://i3.ytimg.com/vi/{{video.youtube_id}}/hqdefault.jpg"></div>
                                {% else %}
                                    <div class="post-image-image lazy-image" style="background-image:url(/images/video-thumbs/{{video.image_id}}.jpg)"></div>
                                {% endif %}
                                <div class="entry-meta">
                                    <div class="meta-holder">
                                        <h2 class="entry-title uppercase">{{video.title}}</h2>
                                        <h5 class="entry-cats uppercase alt-font">{{video.category}}</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

            <!-- call to action / contact form modal button -->
            <div class="page-section primary-bg dark-bg p-large">
                <div class="container">
                    <div class="section-title text-center">
                        <h2 class="title uppercase font-weight-400 display-2 aos-init" data-aos="fade-in">Medical-Grade Masks</h2>
                        <p>
                            Mask the F%*& Up is brought to you by <a href="https://supplyhawk.org">Supply Hawk</a>. Medical-grade masks are the only type shown <a href="https://www.nature.com/articles/s41591-020-0843-2">to reduce shedding of influenza</a>.<br /><br />
                            Our masks are built for healthcare professionals and the general public, and we've kept our prices low to fight gouging. Unlike other masks, our masks have been tested by FDA-certified laboratories in the United States.
                        </p>
                    </div>
                    <div class="xs-clear-10">
                    </div>
                    <div class="text-center aos-init" data-aos="fade-in">
                        <a href="https://supplyhawk.org/products/level-2-fluid-protection-procedure-mask" class="open-contact gt-btn primary-btn btn-lg alt-font uppercase" style="color: black !important">Buy Now</a>
                    </div>
                    <p class="text-center">
                        <br />
                        Our masks are also available on <a href="https://www.amazon.com/Disposable-Face-Level-Fluid-Resistance/dp/B08BQVKMWT/">Amazon</a> and <a href="https://www.walmart.com/ip/3-Ply-Face-Mask-with-ASTM-Level-2-Fluid-Resistance-50-Masks/405320288">Walmart.com</a>!
                    </p>
                </div>
            </div>
                    <div class="xs-clear-10 xl-clear-25"></div>
        <div id="myths" class="container">
                    <!-- section title -->
                    <div class="section-title text-center">
                        <h2 class="title uppercase font-weight-400 display-4">MASK MYTHS DEBUNKED</h2>
                        <p>
                            Shedding light on some of the falsehoods being spread around.
                        </p>
                    </div>
                    <div class="xs-clear-10 xl-clear-25">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- faq -->
                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    MASKS DO NOT REDUCE OXYGEN LEVELS
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                         There are several videos online that show there is no significant or harmful reduction in blood oxygenation from wearing masks for extended periods. Remember health professionals and industrial workers often wear these masks for hours on end without a problem.
                                    </p>
                                    <p class="element-text">
                                         Wearing a mask for an hour in the grocery store definitely won't cause you any problems. In fact, you can go for a run without any issues (we've done it!) Wearing a mask is uncomfortable though if you're not used to it. Perhaps walk away from everyone, and take a break!
                                    </p>
                                </div>
                            </div>

                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    MASKS DO NOT CAUSE HARMFUL CO2 LEVELS
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                         There are several videos online that show elevated CO2 levels when wearing a mask. While these videos are, in fact, correct, there is no detrimental effect to ones health or immunity because oxygen saturation levels remain adequate!
                                    </p>
                                    <p class="element-text">
                                        Don't take our word for it! Dr. Megan Hall, a physician in South Carolina, has shown it on her <a href="https://www.facebook.com/photo.php?fbid=10223733079505873&set=a.2057701373039">Facebook page</a>.  Healthline also has a wonderful article entitled <a href="https://www.healthline.com/health-news/no-face-masks-cant-cause-co2-poisoning">"No, Face Masks Can't Cause CO2 Poisoning"</a> that's worth a read.
                                    </p>
                                </div>
                            </div>
                            <!-- faq -->
                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    MASKS ARE NOT POLITICAL
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                         One of the two creators of this site is a democrat who voted for Clinton and plans to vote for Biden. The other is a republican who plans to vote for Trump. This is <b>not</b> a political issue.
                                    </p>
                                    <p class="element-text">
                                         We all need to wear masks to make America stronger, to prepare ourselves to reopen our economy, and to prevent further shutdowns. Other countries have done this, we can too if we work together!
                                    </p>
                                </div>
                            </div>
                            <!-- faq -->
                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    MASKS ARE NOT SHARIA LAW
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                        So there's a claim that face masks are a sign that muslims are taking over the country and mask wearing is a way to acclimate us to their beliefs. This is absolute nonsense.
                                    </p>
                                    <p class="element-text">
                                         (1) Women are required to cover their hair not face according to Islam. (2) Men are not required to cover anything. (3) Why are leaders of other religions promoting mask use? (4) Why would Israel promote mask use?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- faq -->
                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    CLOTH MASKS DO NOT PROVIDE COMPLETE PROTECTION
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                         Cloth masks do not provide complete protection. You still <em>must</em> social distance. The reason they are promoted is that the CDC does not want resources to be diverted from healthcare workers.
                                    </p>
                                    <p class="element-text">
                                         Be extremely cautious while wearing a cloth mask. Better yet, <a href="https://supplyhawk.org">purchase medical-grade masks</a>. Supply has now reached levels where its fine to purchase one for non-medical use.
                                    </p>
                                </div>
                            </div>
                           <!-- faq -->
                           <div class="faq">
                            <div class="q heading-font uppercase">
                                YOU CANNOT REUSE SURGICAL AND N95 MASKS
                            </div>
                            <div class="a">
                                <p class="element-text">
                                    If you wear any of these masks directly on your face, you should not reuse them. They can easily become carriers of disease if reused especially over multiple days.
                                </p>
                                <p class="element-text">
                                    If you work in the health profession, the strategy for reuse that we recommend is to wear a surgical mask underneath a N95 or KN95. This will allow you to reuse the N95 or KN95 while disposing the single use masks.
                                </p>
                            </div>
                        </div>
                           <!-- faq -->
                           <div class="faq">
                            <div class="q heading-font uppercase">
                                IF I'M NOT SICK I DON'T NEED TO WEAR A MASK
                            </div>
                            <div class="a">
                                <p class="element-text">
                                    Not everyone who gets infected with the coronavirus gets sick. You might be a carrier.
                                </p>
                                <p class="element-text">
                                    Because we don’t know for sure who’s infected, the best option is for all of us to wear masks. Other countries have had success with this, so just put the damn thing on.
                                </p>
                            </div>
                        </div>
                            <!-- faq -->
                            <div class="xs-clear-25 lg-clear-0"></div>
                            <div class="faq">
                                <div class="q heading-font uppercase">
                                    5G HAS NOTHING TO DO WITH CORONAVIRUS
                                </div>
                                <div class="a">
                                    <p class="element-text">
                                         We've seen this bogus enough times that it needs to be addressed. A bandwidth initiative for cell phones has <em>nothing</em> to do with the virus. <em>Nothing.</em>
                                    </p>
                                    <p class="element-text">
                                        If you still have concerns about 5G, we have a newly stocked inventory of tinfoil hats that are available for sale. The hippies at the <a href="https://www.nytimes.com/2019/07/16/science/5g-cellphones-wireless-cancer.html">New York Times</a> agree. (Guess whether the republican or democrat founder wrote this one.)
                                    </p>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                    <div class="xs-clear-50 md-clear-100">
                    </div>

            <!-- call to action / contact form modal button -->
            <div class="page-section primary-bg dark-bg p-large">
                <div class="container">
                    <!-- <div class="section-title text-center">
                        <h2 class="title uppercase font-weight-400 display-2 aos-init" data-aos="fade-in">Medical-Grade Masks</h2>
                        <p>
                            Message brought to you by <a href="https://supplyhawk.org">Supply Hawk</a>. Medical-grade masks are the only type shown <a href="https://www.nature.com/articles/s41591-020-0843-2">to reduce shedding of influenza</a>.<br /><br />
                            Our masks are built for healthcare professionals and the general public, and we've kept our prices low to fight gouging. Unlike other masks, our masks have been tested by FDA-certified laboratories in the United States.
                        </p>
                    </div> -->
                    <div class="xs-clear-10">
                    </div>
                    <div class="text-center aos-init" data-aos="fade-in">
                        <a href="https://supplyhawk.org/products/level-2-fluid-protection-procedure-mask" class="open-contact gt-btn primary-btn btn-lg alt-font uppercase" style="color: black !important">Buy Medical-Grade Masks Now</a>
                    </div>
                    <p class="text-center">
                        Worn by professionals. Tested at an FDA-certified lab in the US. 
                        <br /><br />
                        Our masks are also available on <a href="https://www.amazon.com/Disposable-Face-Level-Fluid-Resistance/dp/B08BQVKMWT/">Amazon</a> and <a href="https://www.walmart.com/ip/3-Ply-Face-Mask-with-ASTM-Level-2-Fluid-Resistance-50-Masks/405320288">Walmart.com</a>
                    </p>
                </div>
            </div>
                    
                    <!-- section title -->
                    <div class="section-title text-center">
                        <h2 class="title uppercase font-weight-400 display-3 aos-init" data-aos="fade-in">Stop the Spread</h2>
                        <p>
                            Four things you can do to stop the spread.
                        </p>
                    </div>
                    <div class="xs-clear-10 xl-clear-25">
                    </div>
                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="row">
                                <!-- number block -->
                                <div class="col-md-6 aos-init" data-aos="fade-in">
                                    <div class="number-block text-center">
                                        <div class="num heading-font primary-color">
                                            01
                                        </div>
                                        <div class="block-content">
                                            <h4 class="block-title uppercase">Wear a Mask</h4>
                                            <p class="element-text">
                                                Just <a href="https://twitter.com/hashtag/WearADamnMask">#WearADamnMask</a>. It's easy, costs you little, and will help get our country back to work! <a href="https:/supplyhawk.org">Need some? Buy them!</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="xs-clear-25">
                                    </div>
                                </div>
                                <!-- number block -->
                                <div class="col-md-6 aos-init" data-aos="fade-in" data-aos-delay="100">
                                    <div class="number-block text-center">
                                        <div class="num heading-font primary-color">
                                            02
                                        </div>
                                        <div class="block-content">
                                            <h4 class="block-title uppercase">Wash Your Hands</h4>
                                            <p class="element-text">
                                                Apparently, we've forgotten about this thanks to all the mask debates. Wash your hands!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="xs-clear-25">
                                    </div>
                                </div>
                                <!-- number block -->
                                <div class="col-md-6 aos-init" data-aos="fade-in">
                                    <div class="number-block text-center">
                                        <div class="num heading-font primary-color">
                                            03
                                        </div>
                                        <div class="block-content">
                                            <h4 class="block-title uppercase">Get Tested</h4>
                                            <p class="element-text">
                                                If you think you've come in contact with the virus, get tested. Your nose might hate you, but your community will thank you.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="xs-clear-25 md-clear-0">
                                    </div>
                                </div>
                                <!-- number block -->
                                <div class="col-md-6 aos-init" data-aos="fade-in" data-aos-delay="100">
                                    <div class="number-block text-center">
                                        <div class="num heading-font primary-color">
                                            04
                                        </div>
                                        <div class="block-content">
                                            <h4 class="block-title uppercase">Stay Home</h4>
                                            <p class="element-text">
                                                If you don't need to go out, don't go anywhere. If you don't come in contact with the virus, you can't catch it!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- image background section -->
            <div class="image-bg dark-bg">
                <div class="page-section p-large">
                    <div class="container">
                        <blockquote class="large-quote text-center">
                            <p class="heading-font uppercase font-weight-700 aos-init" data-aos="fade-in">
                                For the First Time in History, You Can Save Humanity By Watching The TV And Doing Nothing
                            </p>
                            <cite class="alt-font uppercase">AND WEARING A DAMN MASK IF NEED TO GO OUT</cite>
                        </blockquote>
                    </div>
                </div>
                <!-- background image -->
                <div class="bg-image animate-filters" style="background-image:url(/images/backgrounds/mask3.jpg);">
                </div>
                <!-- gradient overlay -->
                <div class="image-overlay gradient-overlay-tb">
                </div>
            </div>

            <div id="memes" class="page-section black-bg dark-bg p-medium">
                <div class="container">
                    <!-- section title -->
                    <div class="section-title">
                        <h5 class="sub-title uppercase dark-fill primary-el-bg aos-init" data-aos="fade-right">LAUGH AND SHARE</h5>
                        <h2 class="title uppercase font-weight-700 aos-init" data-aos="fade-in">TOP MEMES AND IMAGES</h2>
                        <p>
                            Top images and memes from the <a href="https://twitter.com/hashtag/MaskUp">MaskUp</a> movement.
                        </p>
                    </div>
                    <div class="lg-clear-10">
                    </div>
                    <div class="xs-clear-10 xl-clear-25">
                    </div>
                    <!-- portfolio items -->
                    <div id="portfolio-grid" class="portfolio-grid aos-init" data-aos="fade-in">
                        <ul class="gt-grid xs-grid-cols-1 md-grid-cols-3 lg-grid-cols-4 mb-0">
                            <!-- post 1 -->
                            <!-- add data-filters as classes for isotope filtering -->
                            {% for image in site.static_files %}
                            {% if image.path contains 'images/memes' %}
                            <li class="project-post">
                                <div class="post-image">
                                    <a href="{{ image.path }}" title="View Image" data-lity>
                                        <div class="post-image-image lazy-image" style="background-image:url({{ image.path }}"></div>
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- image background testimonial section -->

            <!-- blog section -->

            <!-- call to action / contact form modal button -->
            <div id="which-mask" class="page-section primary-bg dark-bg p-large">
                <div class="container">
                    <div class="section-title text-center">
                        <h2 class="title uppercase font-weight-400 display-2 aos-init" data-aos="fade-in">Which Masks Work?</h2>
                        <p>
                            While fabric masks provide some protection, by and large <a href="https://supplyhawk.org">medical-grade masks</a> are the only type shown <a href="https://www.nature.com/articles/s41591-020-0843-2">to reduce shedding of influenza</a>.<br /><br />
                            Purchase a bonafide medical mask from <a href="https://supplyhawk.org">Supply Hawk</a>. Our masks are built for healthcare professionals and the general public, and we've kept our prices low to fight gouging. Unlike other masks, our masks have been tested by FDA-certified laboratories in the United States.
                        </p>
                    </div>
                    <div class="xs-clear-10">
                    </div>
                    <div class="text-center aos-init" data-aos="fade-in">
                        <a href="https://supplyhawk.org/products/level-2-fluid-protection-procedure-mask" class="open-contact gt-btn primary-btn btn-lg alt-font uppercase" style="color: black !important">Buy Now</a>
                    </div>
                    <p class="text-center">
                        <br />
                        Our masks are also available on <a href="https://www.amazon.com/Disposable-Face-Level-Fluid-Resistance/dp/B08BQVKMWT/">Amazon</a> and <a href="https://www.walmart.com/ip/3-Ply-Face-Mask-with-ASTM-Level-2-Fluid-Resistance-50-Masks/405320288">Walmart.com</a>!
                        <br /><br />
                        Don't like ours? Buy any other mask. We don't care. Just <a href="https://twitter.com/hashtag/WearADamnMask/">#WearADamnMask</a>.
                    </p>
                </div>
            </div>

            <div id="research" class="page-section black-bg dark-bg">
                <div class="xs-clear-10 xl-clear-25"></div>
                <div class="container">
                                <!-- section title -->
                                <div class="section-title text-center">
                                    <h2 class="title uppercase font-weight-400 display-4">RESEARCH PAPER MEGALIST</h2>
                                    <p>
                                        Still a doubter? Here is are enough academic papers to make your eyes bleed.
                                    </p>
                                </div>
                                <div class="xs-clear-10 xl-clear-25">
                                </div>
        
                                {% for paper in site.data.research %}
        
                                <div class="row">
                                    <div class="col-lg-12">
                                        <a href="{{paper.url}}" style="display:block;">
                                        <div class="heading-font uppercase">
                                            {{paper.title}}
                                        </div>
                                            <p class="element-text">
                                                {{paper.subtitle}}
                                            </p>
                                        </a>
                                    </div>
                                </div>
        
                            {% endfor %}
                    <div class="xs-clear-50 md-clear-100"></div>
                </div>
            </div>
            <!-- END PAGE SECTIONS -->
        
        </div>
        <!-- .site-page End -->
    </div>
    <!-- #content End -->

    <!-- Page Footer
        ======================================= -->
    <footer class="site-footer black-bg dark-bg">
    <div class="container container-lg aos-init" data-aos="fade-in" data-aos-delay="100">
        
        <div class="widget">
            <p style="text-align: center;">Congrats for getting to the end! Your reward?  <a href="https://supplyhawk.org">Use discount code STOPTHESPIKE when ordering for a huge discount!</a></p>
            <!-- contact info -->
            <div class="contact-info text-center alt-font uppercase">
                <a href="https://supplyhawk.org"><span class="heading-font">Visit Us Online</span>supplyhawk.org</a>
                <a href="mailto:info@supplyhawk.org"><span class="heading-font">Email Us</span>info@supplyhawk.org</a>
            </div>
        </div>
        <div class="xs-clear-50">
        </div>
        <div class="widget">
            <!-- social profile links -->
            <div class="site-social text-center alt-font uppercase">
                <a href="https://facebook.com/SupplyHawk">
                <span class="front">Facebook</span>
                <span class="back"><span>Facebook</span></span>
                </a>
                <a href="https://linkedin.com/company/supplyhawk">
                <span class="front">LinkedIn</span>
                <span class="back"><span>LinkedIn</span></span>
                </a>
                <a href="https://twitter.com/SupplyHawk">
                    <span class="front">Twitter</span>
                    <span class="back"><span>Twitter</span></span>
                    </a>
                <a href="https://www.youtube.com/channel/UCsN2MIesuNHfIEqCV5z4o8Q">
                <span class="front">YouTube</span>
                <span class="back"><span>YouTube</span></span>
                </a>
                <a href="https://www.walmart.com/ip/3-Ply-Face-Mask-with-ASTM-Level-2-Fluid-Resistance-50-Masks/405320288">
                    <span class="front">Walmart</span>
                    <span class="back"><span>Walmart</span></span>
                </a>
                <a href="https://www.amazon.com/Disposable-Face-Level-Fluid-Resistance/dp/B08BQVKMWT/">
                    <span class="front">Amazon</span>
                    <span class="back"><span>Amazon</span></span>
                </a>
                <a href="https://supplyhawk.org/products/level-2-fluid-protection-procedure-mask">
                <span class="front">Buy Now</span>
                <span class="back"><span>Buy Now</span></span>
                </a>
            </div>
        </div>
        <div class="xs-clear-50">
        </div>
        <div id="colophon">
            <div class="text-center">
                <!-- Site Copyright
                            ======================================= -->
                <p class="site-info">
                    ©2020 Supply Hawk LLC. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
    </footer>
</div>
<!-- End Page Wrapper
    ======================================= -->

<!-- Page Scripts
    ======================================= -->
<script src="/js/plugins.js"></script>
<script src="/js/site.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body></html>